/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*:::::::::::::::::::::::::::::::::::;;::::::::::::*/
body{
	background-image: url(../img/back-g.jpg);
	background-size:100%;
}
.mainsect{
	width: 1280px;
	margin:0 auto;
}
header{
	
	margin-top:20px;
	height: 80px;
	background: #EEEEEE;

}
.menu-button{
	float: left;
	position:relative;
	top:20px;
	height: 30px;
	width: 35px;
	text-align: center;
}
.menu-button img{
	height: auto;
	width: 100%;
}
.logo{
	float: left;
	position: relative;
	left: 100px;
	top:8px;
	height: 80px;
	width: 120px;
}
.logo a{
	width: 100%;
	height: auto;
}
.search{
	position: relative;
	left: 200px;
	top: 20px;
	float: left;
	width: 200px;
	height: 30px;
}
.search input[type="search"]{
	width: 500px;
	height: 40px;
}
.search input[placeholder]{
	font-size: 20px;
}
.search-button{
	border:none;
	position: relative;
	left: 500px;
	top:20px;
	width: 50px;
	height: 40px;
	background-color:#4285F4;
}
.search-button:active{
	background-color:#3366CC;
}
.search-button img{
	width: 60%;
	height: auto;
}
.img-container{
	position: relative;
	left:110px;

}
.img-cont{
	width: 40px;
	height: 40px;
	float: left;
	position: relative;
	left: 850px;
	bottom: 20px;
	margin-right:20px;
}
.img-cont img{
	width: 100%;
	height: auto;
}
.place{
	padding: 30px;
	height: 30px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	
}
.place p{
	margin-top:5px;
	font: 42px Century Gothic;
	color: white;
	
}
#part-one{
	width: 100%;
	height: 280px;
}
#icon-current-time{
	margin-top:20px;
	width:70%;
	height:200px;
	float:left;
}
#icon-current-time img {
	width:auto;
	height:100%;
	margin-left:100px;
}	
.daily-weather{
	width: 50%;
	height: 250px;
	float: left;
}
.daily-w-d{
	height: 35px;
	width: 70%;
}
.daily-w-d h1{
	font: 32px Trebuchet MS;
	text-align: center;
	color: white;
}
.daily-temp{
	width: 30%;
	height: 110px;
	float: left;
	margin-top:-40px;
}
.daily-temp p{
	font: 100px Trebuchet MS;
	color: white;
	text-align: left;
}
.weather-param{
	margin-top:25px;
	width: 30%;
	height: 150px;
	float: left;
}
.weather-param li{
	font: 25px Trebuchet MS;
	margin-top:5px;
	color: white;
	text-align:left;
}
.weather-param ul{
	margin-top:15px;
}
.day-weather{
	width: 50%;
	height: 285px;
	float: left;
}
.d-time{
	width: 33%;
	height: 250px;
	float: left;
	/* transition: transform 0.2s; */
}
.d-time:hover{
	transform: scale(1.1);
}
.day-time{
	width: 100%;
	height: 50px;
	text-align: center;
	float: left;
}
.day-time p{
	margin-top:50px;
	font: 40px Trebuchet MS;
	color: white;
}
.day-time h1{
	font: 30px Trebuchet MS;
	color: white;
}
.d-w-img{
	width: 100%;
	height: 80px;
	float: left;
	text-align: center;
}
.d-w-img img{
	width: auto;
	height: 100%;
}
.d-w-temperature{
	width: 100%;
	height: 80px;
	text-align: center;
	float: left;
}
.d-w-temperature p{
	font:70px Trebuchet MS;
	color: white;
	margin-top:80px;

}
#weather-container{
	margin-top:30px;
	width: 100%;
	height: 400px;
}
#weather-container .week-day-weather{
	width:16%;
	float:left;
	height:300px;
	margin-left:8px;
	text-align:center;
}
.week-day-weather{
	color:white;
	font: 32px Trebuchet MS;
    opacity: 0.9;
}
.week-day-weather:hover{
transform: scale(1.1);
 opacity: 1;
 border-left:1px solid white;
  border-right:1px solid white;
}
#iconWeek{
	width:100%;
	height:100px;
}
#iconWeek img{
	width:50%;
	height:auto;
}
.day-temperature{
	font-size:32px;
	margin-top:20px;
}
#main-week{
	font-size:32px;
}